.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
venv/
/workspaces/SMF/lab/data/*
/workspaces/SMF/lab/results/*
/workspaces/SMF/lab/*.in
/workspaces/SMF/lab/*.log
workspaces/SMF/calibration_work/01_run_inputs/
workspaces/SMF/calibration_work/02_results/
workspaces/SMF/calibration_work/06_logs/
workspaces/SMF/calibration_work/current_run_config.json
